.header {
    background-color: #8B0000;
    color: #FAFAFA;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8B0000;
    color: #FAFAFA;
    padding: 15px 30px;
}

/* Logo */
.logo {
    font-size: 20px;
    font-weight: bold;
}

/* Menú */
.menu a {
    color: #FAFAFA;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    color: #F5E6D3;
}