/* VARIABLES */
:root {
  --color-primary: #8B0000;
  --color-secondary: #ff6600;
  --color-bg: #463737;
  --color-card: #ffffff;
  --color-text: #333333;
  --color-border: #756464;
  --color-error: #cc0000;

  --radius: 12px;
  --shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* RESET */
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, var(--color-bg), #eaeaea);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* FORMULARIO */
#loginForm {
  background: var(--color-card);
  padding: 90px 75px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  width: 340px;
  text-align: center;
  transition: 0.3s;
}

/* HOVER SUAVE */
#loginForm:hover {
  transform: scale(1.02);
}

/* TÍTULO */
#loginForm h2 {
  margin-bottom: 25px;
  color: var(--color-primary);
  font-size: 28px;
}

/* INPUTS */
#loginForm input {
  width: 80%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: var(--radius);
  border: 1px solid var(--color-border);
  font-size: 14px;
  transition: 0.2s;
}

/* FOCUS */
#loginForm input:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 6px rgba(139, 0, 0, 0.3);
}

/* BOTÓN */
#loginForm button {
  width: 60%;
  padding: 12px;
  background: var(--color-primary);
  color: var(--color-card);
  border: none;
  border-radius: var(--radius);
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}



/* ERROR */
#error {
  margin-top: 10px;
  color: var(--color-error);
  font-size: 13px;
}

/* FOOTER (para que no se desordene) */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}