:root {
  --color-primary: #8B0000;
  --color-primary-light: #A61C1C;
  --color-dark: #1C1C1C;
  --color-dark-light: #333333;
  --color-white: #FFFFFF;
  --color-light: #F2F2F2;
  --color-light-alt: #E5E5E5;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--color-white);
  color: var(--color-dark);
}

.main-container {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: var(--color-light);
}

.product {
  border: 1px solid var(--color-light-alt);
  background: var(--color-white);
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
}
#products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 25px;
}

h2 {
  margin-bottom: 20px;
}
a {
  transition: 0.2s;
}
.content {
  padding: 30px;
}