:root {
  --color-primary: #8B0000;
  --color-primary-light: #A61C1C;
  --color-dark: #1C1C1C;
  --color-dark-light: #333333;
  --color-white: #FFFFFF;
  --color-light: #F2F2F2;
  --color-light-alt: #E5E5E5;
}

.footer {
  background-color: var(--color-dark);
  color: var(--color-white);
  text-align: center;
  padding: 10px;
}